.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: steelblue;
  text-align: center;
}

.footer-contents {
  margin-bottom: 5vh;
}

.furima-details {
  margin: 0 4vw;
  display: flex;
  justify-content: start;
  margin-left: 10vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-right: 2vw;
}

.footer-list{
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
  margin-right: 1.5vw;
}

.fishtweet-footer-icon {
  width: 30vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}