* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 70px;
  padding: 1vh 4vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 242, 252, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.fishtweet-icon {
  width: 15vw;
  margin: 5px 10px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
}

.btn:hover{
  opacity: 0.5;
  transition: all 0.5s;
  cursor: pointer;
}

.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: blue;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 2vw;
  color: blue;
  font-weight: bold;
}

.sign-up {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.new-tweet{
  text-decoration: none;
  margin-right: 3vw;
  color: blue;
  font-weight: bold;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  
  .top-page-header {
    width: 100vw;
    height: 70px;
    padding: 1vh 4vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 242, 252, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .fishtweet-icon {
    width: 15vw;
    margin: 5px 20px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 1vh 0;
  }
  
  .lists-right {
    font-size: 12px;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .btn:hover{
    opacity: 0.5;
    transition: all 0.5s;
  }
  
  .user-name {
    text-decoration: none;
    margin-right: 3vw;
    color: blue;
    font-weight: bold;
  }
  
  .logout {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .login {
    text-decoration: none;
    line-height: 32px;
    margin-right: 2vw;
    color: blue;
    font-weight: bold;
  }
  
  .sign-up {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .new-tweet{
    text-decoration: none;
    margin-right: 3vw;
    color: blue;
    font-weight: bold;
  }
  
}

/* スマホ表示時 */
@media (max-width: 599px) {
  * {
    box-sizing: border-box;
  }
  
  .top-page-header {
    width: 100vw;
    height: 50px;
    padding: 1vh 4vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 242, 252, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .fishtweet-icon {
    width: 20vw;
    margin: 2vw;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 1vh 0;
  }
  
  .lists-right {
    font-size: 1.5vw;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .btn:hover{
    opacity: 0.5;
    transition: all 0.5s;
  }
  
  .user-name {
    text-decoration: none;
    margin-right: 3vw;
    color: blue;
    font-weight: bold;
  }
  
  .logout {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .login {
    text-decoration: none;
    line-height: 32px;
    margin-right: 2vw;
    color: blue;
    font-weight: bold;
  }
  
  .sign-up {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .new-tweet{
    text-decoration: none;
    margin-right: 3vw;
    color: blue;
    font-weight: bold;
  }
  
}
