<div class='second-footer'>
  <div class='second-footer-contents'>
    <div class='fishtweet-second-details'>
      <h2 class='second-footer-content-head'>Fishtweetについて</h2>
      <ul class='second-footer-list'>
        <li><%= link_to '会社概要（運営会社)', "#", class: "second-footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "second-footer-link" %></li>
        <li><%= link_to 'Fishtweet利用規約', "#", class: "second-footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("Fishtweet.png", class: "fishtweet-second-footer-icon"), "/" %>
  <p>© Fishtweet</p>
</div>